/** variables **/
/** tags **/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  box-shadow: 0;
  color: #1C2833;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  min-width: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 3rem;
  color: #1C2833;
}
h1 {
  font-size: 2.75rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2.25rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.75rem;
}
h6 {
  font-size: 1.5rem;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
p {
  font-size: 1.125rem;
}
p > * {
  font-size: inherit !important;
}
em {
  font-size: 1.25rem;
  font-style: normal;
}
em > * {
  font-size: inherit !important;
}
strong,
b {
  font-weight: 600;
  font-weight: 500;
}
strong > *,
b > * {
  font-weight: inherit !important;
}
/** lists **/
ul li {
  list-style: none;
}
ul li a {
  display: block;
  color: #0099FF;
  transition: all 0.2s ease;
  text-decoration: none;
  padding: 0.75rem 1rem;
}
ul li a:hover {
  color: #008ae6;
}
ul li a:active {
  color: #007acc;
}
ol li {
  list-style: decimal;
}
ol li a {
  display: block;
  color: #0099FF;
  transition: all 0.2s ease;
  text-decoration: none;
  padding: 0.75rem 1rem;
}
ol li a:hover {
  color: #0081d6;
}
ol li a:active {
  color: #0068ad;
}
/** links **/
a {
  color: #0099FF;
  transition: all 0.2s ease;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #0081d6;
}
a:active {
  color: #0068ad;
}
/** buttons **/
.button {
  position: relative;
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #EAECEE;
  cursor: pointer;
  font-size: 1.125rem;
  transition: all 0.2s ease;
}
.button:hover {
  background-color: #dcdfe3;
}
.button:focus {
  background-color: #dcdfe3;
}
.button:active {
  background-color: #f8f9f9;
}
button,
input[type=button],
input[type=submit],
input[type=reset] {
  position: relative;
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #EAECEE;
  cursor: pointer;
  font-size: 1.125rem;
  transition: all 0.2s ease;
}
button:hover,
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
  background-color: #dcdfe3;
}
button:focus,
input[type=button]:focus,
input[type=submit]:focus,
input[type=reset]:focus {
  background-color: #dcdfe3;
}
button:active,
input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active {
  background-color: #f8f9f9;
}
/** containers **/
.container-64 {
  max-width: 64rem;
  margin: auto;
}
.container-80 {
  max-width: 80rem;
  margin: auto;
}
.container-90 {
  max-width: 90rem;
  margin: auto;
}
.container-105 {
  max-width: 105rem;
  margin: auto;
}
.container-120 {
  max-width: 120rem;
  margin: auto;
}
.border {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.padding {
  padding: 1rem;
}
.padding-horizontal {
  padding-left: 1rem;
  padding-right: 1rem;
}
.padding-vertical {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.padding-double {
  padding: 2rem;
}
.padding-half {
  padding: 0.5rem;
}
.padding-quarter {
  padding: 0.25rem;
}
.margin {
  margin: 1rem;
}
.margin-double {
  margin: 2rem;
}
.margin-half {
  margin: 0.5rem;
}
.margin-quarter {
  margin: 0.25rem;
}
.margin-top {
  margin-top: 1rem;
}
.margin-top-double {
  margin-top: 2rem;
}
.margin-top-half {
  margin-top: 0.5rem;
}
.margin-top-quarter {
  margin-top: 0.25rem;
}
/** text alignments **/
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
/** grids **/
.cols {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.cols > .span-1 {
  grid-column: span 1;
}
.cols > .span-2 {
  grid-column: span 2;
}
.cols > .span-3 {
  grid-column: span 3;
}
.cols > .span-4 {
  grid-column: span 4;
}
.cols > .span-5 {
  grid-column: span 5;
}
.cols > .span-6 {
  grid-column: span 6;
}
.cols > .span-7 {
  grid-column: span 7;
}
.cols > .span-8 {
  grid-column: span 8;
}
.cols > .span-9 {
  grid-column: span 9;
}
.cols > .span-10 {
  grid-column: span 10;
}
.cols > .span-11 {
  grid-column: span 11;
}
.cols > .span-12 {
  grid-column: span 12;
}
.rows {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
}
.rows > .span-1 {
  grid-row: span 1;
}
.rows > .span-2 {
  grid-row: span 2;
}
.rows > .span-3 {
  grid-row: span 3;
}
.rows > .span-4 {
  grid-row: span 4;
}
.rows > .span-5 {
  grid-row: span 5;
}
.rows > .span-6 {
  grid-row: span 6;
}
.rows > .span-7 {
  grid-row: span 7;
}
.rows > .span-8 {
  grid-row: span 8;
}
.rows > .span-9 {
  grid-row: span 9;
}
.rows > .span-10 {
  grid-row: span 10;
}
.rows > .span-11 {
  grid-row: span 11;
}
.rows > .span-12 {
  grid-row: span 12;
}
.gap {
  grid-gap: 1rem;
}
.gap-double {
  grid-gap: 2rem;
}
.gap-half {
  grid-gap: 0.5rem;
}
.gap-quarter {
  grid-gap: 0.25rem;
}
.gap-none {
  grid-gap: 0;
}
.gap-none > * {
  border-right: 1px solid transparent;
}
.gap-none > *:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
/** backgrounds **/
.bg-1 {
  background-color: #EAECEE;
}
.bg-2 {
  background-color: #D5D8DC;
}
.bg-3 {
  background-color: #ABB2B9;
}
.bg-4 {
  background-color: #808B96;
}
.bg-5 {
  background-color: #566573;
}
.bg-6 {
  background-color: #2C3E50;
}
.bg-primary {
  background-color: #FF6666;
}
.bg-secondary {
  background-color: #808B96;
}
.bg-blue {
  background-color: #3498DB;
}
.bg-green {
  background-color: #27AE60;
}
.bg-teal {
  background-color: #1ABC9C;
}
.bg-yellow {
  background-color: #F1C40F;
}
.bg-orange {
  background-color: #F39C12;
}
.bg-red {
  background-color: #E74C3C;
}
.bg-purple {
  background-color: #9B59B6;
}
.bg-white {
  background-color: #FFFFFF;
}
.bg-dark {
  background-color: #1C2833;
}
button.bg-1:hover {
  background-color: #dcdfe3;
}
button.bg-1:focus {
  background-color: #dcdfe3;
}
button.bg-1:active {
  background-color: #f8f9f9;
}
button.bg-2:hover {
  background-color: #c7cbd0;
}
button.bg-2:focus {
  background-color: #c7cbd0;
}
button.bg-2:active {
  background-color: #e3e5e8;
}
button.bg-3:hover {
  background-color: #9da5ad;
}
button.bg-3:focus {
  background-color: #9da5ad;
}
button.bg-3:active {
  background-color: #b9bfc5;
}
button.bg-4 {
  color: #FFFFFF;
}
button.bg-4:hover {
  background-color: #727e8a;
}
button.bg-4:focus {
  background-color: #727e8a;
}
button.bg-4:active {
  background-color: #8e98a2;
}
button.bg-5 {
  color: #FFFFFF;
}
button.bg-5:hover {
  background-color: #4b5864;
}
button.bg-5:focus {
  background-color: #4b5864;
}
button.bg-5:active {
  background-color: #617282;
}
button.bg-6 {
  color: #FFFFFF;
}
button.bg-6:hover {
  background-color: #233140;
}
button.bg-6:focus {
  background-color: #233140;
}
button.bg-6:active {
  background-color: #354b60;
}
button.bg-primary {
  color: #FFFFFF;
}
button.bg-primary:hover {
  background-color: #ff4c4c;
}
button.bg-primary:focus {
  background-color: #ff4c4c;
}
button.bg-primary:active {
  background-color: #ff8080;
}
button.bg-secondary {
  color: #FFFFFF;
}
button.bg-secondary:hover {
  background-color: #727e8a;
}
button.bg-secondary:focus {
  background-color: #727e8a;
}
button.bg-secondary:active {
  background-color: #8e98a2;
}
button.bg-blue {
  color: #FFFFFF;
}
button.bg-blue:hover {
  background-color: #258cd1;
}
button.bg-blue:focus {
  background-color: #258cd1;
}
button.bg-blue:active {
  background-color: #4aa3df;
}
button.bg-teal {
  color: #FFFFFF;
}
button.bg-teal:hover {
  background-color: #17a689;
}
button.bg-teal:focus {
  background-color: #17a689;
}
button.bg-teal:active {
  background-color: #1dd2af;
}
button.bg-green {
  color: #FFFFFF;
}
button.bg-green:hover {
  background-color: #229955;
}
button.bg-green:focus {
  background-color: #229955;
}
button.bg-green:active {
  background-color: #2cc36b;
}
button.bg-yellow {
  color: #FFFFFF;
}
button.bg-yellow:hover {
  background-color: #dab10d;
}
button.bg-yellow:focus {
  background-color: #dab10d;
}
button.bg-yellow:active {
  background-color: #f2ca27;
}
button.bg-orange {
  color: #FFFFFF;
}
button.bg-orange:hover {
  background-color: #e08e0b;
}
button.bg-orange:focus {
  background-color: #e08e0b;
}
button.bg-orange:active {
  background-color: #f4a62a;
}
button.bg-red {
  color: #FFFFFF;
}
button.bg-red:hover {
  background-color: #e43725;
}
button.bg-red:focus {
  background-color: #e43725;
}
button.bg-red:active {
  background-color: #ea6153;
}
button.bg-purple {
  color: #FFFFFF;
}
button.bg-purple:hover {
  background-color: #ff4c4c;
}
button.bg-purple:focus {
  background-color: #ff4c4c;
}
button.bg-purple:active {
  background-color: #ff8080;
}
button.bg-white {
  color: #1C2833;
}
button.bg-white:hover {
  background-color: #f2f2f2;
}
button.bg-white:focus {
  background-color: #f2f2f2;
}
button.bg-white:active {
  background-color: #ffffff;
}
button.bg-dark {
  color: #FFFFFF;
}
button.bg-dark:hover {
  background-color: #131b23;
}
button.bg-dark:focus {
  background-color: #131b23;
}
button.bg-dark:active {
  background-color: #253543;
}
button.out-primary {
  border: 1px solid #FF6666;
  color: #FF6666;
  background-color: #FFFFFF;
}
button.out-primary:hover {
  background-color: #FF6666;
  color: #FFFFFF;
}
button.out-primary:focus {
  background-color: #ff4c4c;
  color: #FFFFFF;
}
button.out-primary:active {
  background-color: #ff8080;
  color: #FFFFFF;
}
button.out-secondary {
  border: 1px solid #808B96;
  color: #808B96;
  background-color: #FFFFFF;
}
button.out-secondary:hover {
  background-color: #808B96;
  color: #FFFFFF;
}
button.out-secondary:focus {
  background-color: #727e8a;
  color: #FFFFFF;
}
button.out-secondary:active {
  background-color: #8e98a2;
  color: #FFFFFF;
}
button.out-blue {
  border: 1px solid #3498DB;
  color: #3498DB;
  background-color: #FFFFFF;
}
button.out-blue:hover {
  background-color: #3498DB;
  color: #FFFFFF;
}
button.out-blue:focus {
  background-color: #258cd1;
  color: #FFFFFF;
}
button.out-blue:active {
  background-color: #4aa3df;
  color: #FFFFFF;
}
button.out-teal {
  border: 1px solid #1ABC9C;
  color: #1ABC9C;
  background-color: #FFFFFF;
}
button.out-teal:hover {
  background-color: #1ABC9C;
  color: #FFFFFF;
}
button.out-teal:focus {
  background-color: #17a689;
  color: #FFFFFF;
}
button.out-teal:active {
  background-color: #1dd2af;
  color: #FFFFFF;
}
button.out-green {
  border: 1px solid #27AE60;
  color: #27AE60;
  background-color: #FFFFFF;
}
button.out-green:hover {
  background-color: #27AE60;
  color: #FFFFFF;
}
button.out-green:focus {
  background-color: #229955;
  color: #FFFFFF;
}
button.out-green:active {
  background-color: #2cc36b;
  color: #FFFFFF;
}
button.out-yellow {
  border: 1px solid #F1C40F;
  color: #F1C40F;
  background-color: #FFFFFF;
}
button.out-yellow:hover {
  background-color: #F1C40F;
  color: #FFFFFF;
}
button.out-yellow:focus {
  background-color: #dab10d;
  color: #FFFFFF;
}
button.out-yellow:active {
  background-color: #f2ca27;
  color: #FFFFFF;
}
button.out-orange {
  border: 1px solid #F39C12;
  color: #F39C12;
  background-color: #FFFFFF;
}
button.out-orange:hover {
  background-color: #F39C12;
  color: #FFFFFF;
}
button.out-orange:focus {
  background-color: #e08e0b;
  color: #FFFFFF;
}
button.out-orange:active {
  background-color: #f4a62a;
  color: #FFFFFF;
}
button.out-red {
  border: 1px solid #E74C3C;
  color: #E74C3C;
  background-color: #FFFFFF;
}
button.out-red:hover {
  background-color: #E74C3C;
  color: #FFFFFF;
}
button.out-red:focus {
  background-color: #e43725;
  color: #FFFFFF;
}
button.out-red:active {
  background-color: #ea6153;
  color: #FFFFFF;
}
button.out-purple {
  border: 1px solid #9B59B6;
  color: #9B59B6;
  background-color: #FFFFFF;
}
button.out-purple:hover {
  background-color: #9B59B6;
  color: #FFFFFF;
}
button.out-purple:focus {
  background-color: #8f4bab;
  color: #FFFFFF;
}
button.out-purple:active {
  background-color: #a66bbe;
  color: #FFFFFF;
}
button.out-dark {
  border: 1px solid #1C2833;
  color: #1C2833;
  background-color: #FFFFFF;
}
button.out-dark:hover {
  background-color: #1C2833;
  color: #FFFFFF;
}
button.out-dark:focus {
  background-color: #131b23;
  color: #FFFFFF;
}
button.out-dark:active {
  background-color: #253543;
  color: #FFFFFF;
}
/** heights **/
.h-100 {
  height: 100vh;
}
